<div class="container">
  <h1 class="text-center title">Tags</h1>
  <!-- Go to list tag <app-list-tag></app-list-tag> -->
  <router-outlet></router-outlet>
  <div class="row main-div">
    <div class="col-lg-8">
      <!-- Add Tag -->
      <app-add-tag></app-add-tag>
    </div>

    <div class="col-lg-4">
      <!-- Delete tag -->
      <app-delete-tag></app-delete-tag>
    </div>

  </div>


</div>
