.title
{
  margin-top: 20px;
  font-weight: bold;

}


.text-right
{
  float: right;
}

.main-div{
  width :  500px;
  height :  50px;
  margin-left: auto;
  margin-right: auto;


}

/* .col-lg-4{
  margin : 0;
  padding : 0;
}

.col-lg-8{
  margin : 0;
  padding : 0;
} */
