

    <form #addTag="ngForm" fxLayout="row" (submit)="onSubmit();">

          <input type="text" name="tag" class="form-control inputclass" placeholder="New tag" [(ngModel)]="tag" required>

        <button mat-button class="btn btn-primary" [disabled]="addTag.invalid"> Add </button>

    </form>
