


.main-div{
  width :  500px;
  height :  50px;
  margin-left: auto;
  margin-right: auto;


}
.main-div1
{
  background-color : #ABC69D;
  color : black;
  
  height: 100%;
  margin : 0;
  padding : 0;
  block-size: 100%;
  writing-mode: horizontal-tb;

}

.main-div2
{
  background-color : #C4BC9A;
  color : black;
  width: 100%;
  height: 100%;
  margin : 0;
  padding : 0;
}
.col-lg-4{
  margin : 0;
  padding : 0;
}

.col-lg-8{
  margin : 0;
  padding : 0;
}




.tagclass
{
background-color: antiquewhite;
padding: 5px;
margin : 5px;
}


.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

