<div class="container">
  <div class="row main-div">
    <div class="col-lg-4">

      <!-- **Block resizing -->
      <span class="main-div1">
        <!-- Display "SomeTag" variable -->
        {{tagService.someTag}}
      </span>
      <!-- ** end Block resizing -->
    </div>
    <div class="col-lg-8">
      <!-- ******Block resizing -->
      <span class="main-div2">
        <span class="tagclass" for="complete">{{tagService.masterTag}}</span>
        <!-- trackedBy uses our trackedByTag function to track our data By ID  -->
        <span *ngFor="let tag of tagService.tagList | slice:0:limit; trackedBy : trackByTag">

          <!-- Display list of tags -->
            <app-tag [tag]="tag" fxLayout="row"></app-tag>
        </span>

        <mat-select-trigger>
          <span *ngIf="(tagService.tagList.length || 0) > 3"  class="tagclass">
            +{{(tagService.tagList.length || 0) - 3}}
          </span>
        </mat-select-trigger>

      </span>
      <!-- ******* end Block resizing -->
    </div>
  </div>
 <br>
 <br>
  <div class="row main-div">
    <div class="col-lg-6">
      <!-- edit SomeTag -->
      <app-edit-tag [SomeTagInput]="tagService.someTag"></app-edit-tag>
    </div>

    <div class="col-lg-6">
      <!-- edit master tag -->
      <app-edit-master-tag [MasterTagInput]="tagService.masterTag"></app-edit-master-tag>
    </div>
  </div>

</div>
